<html ng-app>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
<script src="controllers.js"></script>
</head>
<body ng-controller='CartController'>
<h1>My First shoping cart using Angularjs</h1>

<div ng-repeat='item in items'>
	<span>{{item.title}}</span>
	<input ng-model='item.quantity' />
	<span>{{item.price | currency}}<span>
	<span>{{item.price * item.quantity | currency}}<span>
	<button ng-click="remove($index)">Remove</button>
</div>

</body>
</html>